aclocal.m4
/logstalgia
logstalgia.exe
logstalgia.win32.depend
logstalgia.win32.layout
logstalgia.pro.user
autom4te.cache
debug.log
Makefile
Makefile.in
*.dll
logs
configure
config.log
config.status
/build-aux
*.swp
*.d
.objs
.deps
.dirstamp
logstalgia-*.png
